.my_block{
    background-color: #eee;
    border-radius: 25px;
    margin: 5px;
    padding: 5px;
}
.my_block > .text-left{
    padding: 5px 20px;
}
.my_main_block{
    padding: 5px 10%;
}
.my_head_block{
	padding: 15px; 
	margin-bottom: 15px; 
}
.btn{
	width: 60%;
}